<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Lab: Jupyter Notebook with Problems for Peer Reviewed Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [14]:
install.packages("https://cran.r-project.org/src/contrib/Archive/RSQLite/RSQLite_0.10.0.tar.gz", repos = NULL, type = "source", dependencies = TRUE)

#### Restart Kernel

After installing the RSQLite package, it is necessary to restart R Kernel. Click **Kernel** > **Restart Kernel** from the main menu. This will register the newly installed packages. Now proceed to load the RSQLite package.

In [15]:
library("DBI")
library("RSQLite")

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [21]:
# Write your query here
conn <- dbConnect(RSQLite::SQLite(), "FinalDB.sqlite")

In [22]:
#check list of tables in the present db.
dbListTables(conn)

character(0)

In [23]:
#CROP_DATA:
df1 <- dbExecute(conn, 
                    "CREATE TABLE CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )"
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [24]:
# FARM_PRICES
df2 <- dbExecute(conn, 
                    "CREATE TABLE FARM_PRICES (
                                        CD_ID INTEGER NOT NULL,
                                        DATE DATE NOT NULL,
                                        CROP_TYPE VARCHAR(20) NOT NULL,
                                        GEO VARCHAR(20) NOT NULL, 
                                        PRICE_PRERMT FLOAT(6),
                                        PRIMARY KEY (CD_ID)
                                        )"
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("FARM_PRICES Table was created successfully.\n")
    }

FARM_PRICES Table was created successfully.

In [25]:
# DAILY_FX: 
df3 <- dbExecute(conn, "CREATE TABLE DAILY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL,
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )"
                     )
    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print(msg)
    } else {
        cat ("DAILY_FX Table was created successfully.\n")
    }

DAILY_FX Table was created successfully.

In [26]:
# MONTHLY_FX:

df4 <- dbExecute(conn, "CREATE TABLE MONTHLY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL,
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )"
                     )
    if (df4 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print(msg)
    } else {
        cat ("MONTHLY_FX Table was created successfully.\n")
    }

MONTHLY_FX Table was created successfully.

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [28]:
# Write your query here

# Read the datasets into R dataframes using the urls provided above.

crop_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv')

price_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv')

daily_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv')

monthly_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv')

head(crop_df)
head(price_df)
head(daily_df)
head(monthly_df)

# Then load your tables in database.

dbWriteTable(conn, "CROP_DATA", crop_df, overwrite=TRUE, header = TRUE)

dbWriteTable(conn, "FARM_PRICES", price_df, overwrite=TRUE, header = TRUE)

dbWriteTable(conn, "DAILY_FX", daily_df, overwrite=TRUE, header = TRUE)

dbWriteTable(conn, "MONTHLY_FX", monthly_df, overwrite=TRUE, header = TRUE)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [32]:
# Write your query here

nrow(price_df)

dbGetQuery(conn, 'SELECT COUNT(CD_ID) FROM FARM_PRICES')

[1] 2678

  COUNT(CD_ID)
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [34]:
# Write your query here

unique(price_df$GEO)

dbGetQuery(conn, 'SELECT DISTINCT(GEO) FROM FARM_PRICES')

[1] Alberta      Saskatchewan
Levels: Alberta Saskatchewan

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [50]:
# Write your query here

### R CODE to calculate the total harvested area for Rye after 1968

# Ensure the YEAR column is in Date format before filtering
crop_df$YEAR <- as.Date(crop_df$YEAR, format = "%Y-%m-%d")

# Filter rows for Rye and after 1968-01-01
canada_1968_rye <- crop_df[crop_df$YEAR > as.Date("1968-01-01") & crop_df$CROP_TYPE == "Rye", ]

# Calculate the total harvested area in R
total_harvested_area <- sum(canada_1968_rye$HARVESTED_AREA, na.rm = TRUE)
cat("Total harvested area for Rye after 1968:", total_harvested_area, "\n")

### SQL query to calculate the total harvested area for Rye after 1968

query_result <- dbGetQuery(conn, "
  SELECT SUM(HARVESTED_AREA) AS TotalHarvestedArea
  FROM CROP_DATA
  WHERE CROP_TYPE = 'Rye' AND YEAR > '1968-01-01'
")

# Display the result from the SQL query
print(query_result)

Total harvested area for Rye after 1968: 19672790
  TotalHarvestedArea
1           19672790

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [54]:
# Wriet your query here

### R CODE 
rye_data = crop_df[crop_df$CROP_TYPE == "Rye", ]
head(rye_data)

### SQL CODE

result <- dbGetQuery(conn, "SELECT * FROM CROP_DATA WHERE CROP_TYPE='Rye' LIMIT 6")
print(result)

   CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA
7   6    1965-12-31 Rye       Alberta       81000       81000
8   7    1965-12-31 Rye       Canada       323900      323900
9   8    1965-12-31 Rye       Saskatchewan 166000      166000
19 18    1966-12-31 Rye       Alberta       70000       70000
20 19    1966-12-31 Rye       Canada       293400      293400
21 20    1966-12-31 Rye       Saskatchewan 161000      161000
   PRODUCTION AVG_YIELD
7  116400     1435
8  453400     1400
9  224000     1350
19 109000     1555
20 437600     1490
21 228600     1420

  row_names CD_ID       YEAR CROP_TYPE          GEO SEEDED_AREA HARVESTED_AREA
1         7     6 1965-12-31       Rye      Alberta       81000          81000
2         8     7 1965-12-31       Rye       Canada      323900         323900
3         9     8 1965-12-31       Rye Saskatchewan      166000         166000
4        19    18 1966-12-31       Rye      Alberta       70000          70000
5        20    19 1966-12-31       Rye       Canada      293400         293400
6        21    20 1966-12-31       Rye Saskatchewan      161000         161000
  PRODUCTION AVG_YIELD
1     116400      1435
2     453400      1400
3     224000      1350
4     109000      1555
5     437600      1490
6     228600      1420

## Problem 7

#### Which provinces grew Barley?

In [56]:
# Write your query here

### R CODE

# Filter rows where CROP_TYPE is 'Barley'
barley_data <- crop_df[crop_df$CROP_TYPE == "Barley", ]

# Get unique provinces (GEO column)
unique_provinces <- unique(barley_data$GEO)

# Display the result
print(unique_provinces)


### SQL CODE

result <- dbGetQuery(conn, "SELECT DISTINCT(GEO) FROM CROP_DATA WHERE CROP_TYPE='Barley'")
print(result)

[1] Alberta      Canada       Saskatchewan
Levels: Alberta Canada Saskatchewan
           GEO
1      Alberta
2       Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [71]:
# Write your query here

### R CODE

# Find the first and last 6 dates
head(price_df$DATE)
tail(price_df$DATE)

### SQL CODE
result <- dbGetQuery(conn, 'SELECT min(DATE) FIRST_DATE, max(DATE) LAST_DATE FROM FARM_PRICES')
print(result)

[1] "1985-01-01" "1985-01-01" "1985-01-01" "1985-01-01" "1985-01-01"
[6] "1985-01-01"

[1] "2020-12-01" "2020-12-01" "2020-12-01" "2020-12-01" "2020-12-01"
[6] "2020-12-01"

  FIRST_DATE  LAST_DATE
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [73]:
# Write your query here

### R CODE

# Filter the dataset for farm prices greater than or equal to $350
crops_with_high_price <- unique(price_df$CROP_TYPE[price_df$PRICE_PERMT >= 350])

# Print the result
cat("Crops with prices >= $350 per metric tonne:\n")
print(crops_with_high_price)

### SQL CODE

result <- dbGetQuery(conn, 'SELECT DISTINCT(CROP_TYPE)
FROM FARM_PRICES
WHERE PRICE_PRERMT >= 350')
print(result)

Crops with prices >= $350 per metric tonne:
factor(0)
Levels: Barley Canola Rye Wheat
  CROP_TYPE
1    Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [88]:
# Write your query here

### SQL CODE

result <- dbGetQuery(conn, "
    SELECT CROP_TYPE, YEAR, GEO, AVG_YIELD
    FROM CROP_DATA
    WHERE GEO = 'Saskatchewan' AND YEAR LIKE '2000%'
    GROUP BY CROP_TYPE, YEAR, GEO
    ORDER BY AVG_YIELD DESC")

print(result)

### R CODE - Assuming 'result' is already loaded with the SQL query results
best_crop <- result[1, ]
cat("Best performing crop in Saskatchewan in 2000:", best_crop$CROP_TYPE, "with an average yield of", best_crop$AVG_YIELD, "kg/ha.\n")

  CROP_TYPE       YEAR          GEO AVG_YIELD
1    Barley 2000-12-31 Saskatchewan      2800
2     Wheat 2000-12-31 Saskatchewan      2200
3       Rye 2000-12-31 Saskatchewan      2100
4    Canola 2000-12-31 Saskatchewan      1400
Best performing crop in Saskatchewan in 2000: Barley with an average yield of 2800 kg/ha.

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [90]:
# Write your query here

### SQL CODE

result <- dbGetQuery(conn, "
    SELECT CROP_TYPE, YEAR, GEO, AVG_YIELD
    FROM CROP_DATA
    WHERE YEAR >= '2000%'
    GROUP BY CROP_TYPE, YEAR, GEO
    ORDER BY AVG_YIELD DESC
    LIMIT 10")

print(result)

### R CODE - Assuming 'result' is already loaded with the SQL query results
best_crop <- result[1, ]
cat("Best performing crop since 2000:", best_crop$CROP_TYPE, "with an average yield of", best_crop$AVG_YIELD, "kg/ha.\n")

   CROP_TYPE       YEAR     GEO AVG_YIELD
1     Barley 2013-12-31 Alberta      4100
2     Barley 2016-12-31 Alberta      4100
3     Barley 2020-12-31 Alberta      3980
4     Barley 2016-12-31  Canada      3900
5     Barley 2017-12-31 Alberta      3900
6      Wheat 2013-12-31 Alberta      3900
7      Wheat 2016-12-31 Alberta      3900
8     Barley 2019-12-31 Alberta      3890
9     Barley 2020-12-31  Canada      3820
10    Barley 2019-12-31  Canada      3810
Best performing crop since 2000: Barley with an average yield of 4100 kg/ha.

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [101]:
### SQL CODE

result <- dbGetQuery(conn, "
    SELECT YEAR, SUM(PRODUCTION) AS TOTAL_WHEAT_HARVESTED
    FROM CROP_DATA
    WHERE CROP_TYPE = 'Wheat'
    AND YEAR = (SELECT MAX(YEAR) FROM CROP_DATA WHERE CROP_TYPE = 'Wheat')
    GROUP BY YEAR
")

print(result)

### R CODE - Assuming 'result' is already loaded with the SQL query results
cat("Total wheat harvested in", result$YEAR, ":", result$TOTAL_WHEAT_HARVESTED, "units.\n")

        YEAR TOTAL_WHEAT_HARVESTED
1 2020-12-31              62208200
Total wheat harvested in 2020-12-31 : 62208200 units.

In [100]:
### To make sure that was amount the highest in the most recent year? Let's make a rank list.

result <- dbGetQuery(conn, "
    SELECT YEAR, SUM(PRODUCTION) AS TOTAL_WHEAT_HARVESTED
    FROM CROP_DATA
    WHERE CROP_TYPE = 'Wheat'
    GROUP BY YEAR
    ORDER BY TOTAL_WHEAT_HARVESTED DESC
    LIMIT 10
")

print(result)

         YEAR TOTAL_WHEAT_HARVESTED
1  2013-12-31              67216400
2  2020-12-31              62208200
3  2019-12-31              58293800
4  1991-12-31              58219500
5  2018-12-31              57235100
6  1986-12-31              56941800
7  2016-12-31              56795100
8  1990-12-31              56579000
9  1996-12-31              54137500
10 2017-12-31              53542800

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [106]:
# Write your query here

### SQL CODE

result <- dbGetQuery(conn, "
            SELECT f.DATE, p.CROP_TYPE, p.GEO, f.FXUSDCAD, p.PRICE_PRERMT AS PRICE_USD, p.PRICE_PRERMT * f.FXUSDCAD AS PRICE_CAD
            FROM FARM_PRICES p
            JOIN Monthly_FX f
            ON strftime('%Y-%m', p.DATE) = strftime('%Y-%m', f.DATE)
            WHERE p.CROP_TYPE = 'Canola' 
            AND p.GEO = 'Saskatchewan'
            ORDER BY f.DATE DESC
            LIMIT 6")

print(result)

        DATE CROP_TYPE          GEO FXUSDCAD PRICE_USD PRICE_CAD
1 2020-12-01    Canola Saskatchewan 1.280771    507.33  649.7738
2 2020-11-01    Canola Saskatchewan 1.306820    495.64  647.7123
3 2020-10-01    Canola Saskatchewan 1.321471    474.80  627.4346
4 2020-09-01    Canola Saskatchewan 1.322810    463.52  613.1487
5 2020-08-01    Canola Saskatchewan 1.322205    464.60  614.2964
6 2020-07-01    Canola Saskatchewan 1.349850    462.88  624.8186

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>

![footer](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/zOMU1iwlZgwJXjWYzQAIgg/SNIBMfooter.png "footer")


<!--## Change log

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |-->